@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Shangri_La.EpiServer.SL.Web.Business.Extensions;
@using Shangri_La.EpiServer.SL.Web.Models.ViewModels.RoomListing;
@using Shangri_La.EpiServer.SL.Web.Models.ViewModels;

@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.RoomGroupListingPageViewModel
@*@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.PropertyPageViewModel*@


<!-- All Room Main banner starts here-->
@*<section class="main-banner all-room-banner">
        <div class="image-container"><img src="@Url.Content("~/Content/img/content/room-landing-hero.jpg")" alt="{CMS}"></div>
        <div class="caption-container read-more-container shadow-box">
            <div class="two-sided-line">Singapore Shangri - la</div>
            <h1 class="heading">Rooms &amp; Suites in Garden Wing</h1>
            <p class="description">Perched high above the bright lights and non-stop bustle of the Kowloon cityscape, few can complete with the sprawling skyline vistas from our Deluxe Harbour View Room Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet Lorem Ipsum dolor sit amet </p><a href="javascript:void(0)" class="read-more-droplink icon-ios-arrow-down">READ MORE</a>
        </div>
    </section>*@
@{
    Html.RenderCustomContentArea(Model.CurrentPage.HeaderContentArea);
}
<!-- All Room Main banner ends here-->

@{
    Html.RenderPartial("BookingPanel", Model.BookingPanel);
}


<!-- All Room Wings Type starts here-->
<section class="section-row room-type equal-height-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 hidden-sm no-gutter">
                @if (Model.RoomCategoryListNavigatoins != null)
            {
                foreach (RoomCategoryListNavigatoinModel nav in Model.RoomCategoryListNavigatoins)
                {
                        <div class="col-xs-12 col-md-4 hidden-sm hidden-xs no-gutter">
                            <div class="type-container equal-height-block">
                                <a href="@Url.Content("#" + nav.RoomType)" class="room-title">@nav.Heading</a>
                                <p>@nav.TeaserText</p>
                            </div>
                        </div>
                    }
                }

                @*
                    <div class="col-xs-12 col-md-5 hidden-sm hidden-xs no-gutter">
                        <div class="type-container equal-height-block">
                            <a href="#" class="room-title">Standard Rooms</a>
                            <p>Spacious room with incredible city views</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 hidden-sm hidden-xs no-gutter">
                        <div class="type-container equal-height-block">
                            <a href="#" class="room-title">Suites</a>
                            <p>Spacious room with incredible city views</p>
                        </div>
                    </div>

                *@
            </div>
            <div class="col-sm-12 col-md-2 no-gutter">
                <div class="col-xs-12 col-md-12">
                    <div class="view-room equal-height-block">
                        <span>View by:</span>
                        <a href="#" class="grid-view-cta icon-grid active"></a>
                        <a href="#" class="list-view-cta icon-list-off"></a>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- All Room Wings Type Endss here-->
<div class="view-controller">

    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new
{
    //CustomTag = "ul",
    //CssClass = "list",
    //ChildrenCustomTagName = "section",
    //ChildrenCssClass = "main-banner",
    //Tag = string.Empty,
    HasContainer = false
})

    @*
            <!-- Module Room landing - Standard rooms starts here-->
        <section class="section-row all-statndard-rooms-container">
            <div class="container carousel-container grid-small-container">
                <div class="section-header read-more-section-header">
                    <h2 class="section-heading">Standard Rooms</h2>
                    <p class="description">With over 700 rooms spread across three distinct wings, you’ll find your ideal getaway at the Shangri-La Hotel. Spacious and serene, each room offers a private haven of pure comfort.</p><a href="javascript:void(0)" class="read-more-droplink icon-ios-arrow-down">READ MORE</a>
                </div>
                <div class="row list-view-row">
                    <div class="owl-carousel mobile-carousel">
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-standard-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/standard-rooms-1.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container shadow-box">
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons"><img src="@Url.Content("~/Content/img/content/list-view-persons.jpg")" alt=""></div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">Stunning city view</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-standard-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/standard-rooms-2.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container shadow-box">
                                        <div class="featured">Featured</div>
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons"><img src="@Url.Content("~/Content/img/content/list-view-persons.jpg")" alt=""></div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">Stunning city view</p><a href="#" class="common-cta">VIEW MORE       </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Module Room landing - Standard rooms Ends here-->
        <!-- Module Room landing - Suites starts here-->
        <section class="section-row room-landing-suites-container">
            <div class="suites-special-background">
                <div class="container">
                    <div class="section-header read-more-section-header">
                        <h2 class="section-heading">Suites</h2>
                        <p class="description">Blending contemporary interior design, traditional Asian heritage and commanding views, our suites reflect the city's timeless elegance and modern sophistication. All suites include Horizon Club privileges.</p><a href="javascript:void(0)" class="read-more-droplink icon-ios-arrow-down">READ MORE</a>
                    </div>
                    <div class="row">
                        <div class="clearfix col-xs-12 col-md-12">
                            <div class="suites-special-container clearfix hidden-xs">
                                <div class="image-container scaled-image"><img src="@Url.Content("~/Content/img/content/room-landing-suites.jpg")" alt="{CMS}"></div>
                                <div class="content-container shadow-box">
                                    <div class="inner-content">
                                        <div class="heading">Because sometimes, having more space actually brings us closer together</div><span>All Suites includes horizon club privileges</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container carousel-container">
                <div class="grid-medium-container">
                    <div class="row list-view-row">
                        <div class="owl-carousel mobile-carousel">
                            <div class="item">
                                <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                    <div class="all-suites-rooms row-list-item">
                                        <div class="image-container scaled-image">
                                            <a href="#"><img src="@Url.Content("~/Content/img/content/suites-1.jpg")" alt="{CMS}"></a>
                                        </div>
                                        <div class="content-container">
                                            <div class="featured">Featured</div>
                                            <div class="heading"><a href="#">Garden Wing One-Bedroom Suite</a></div>
                                            <p class="description">38 sqm / 409 sqf</p><a href="#" class="common-cta">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                    <div class="all-suites-rooms row-list-item">
                                        <div class="image-container scaled-image">
                                            <a href="#"><img src="@Url.Content("~/Content/img/content/suites-2.jpg")" alt="{CMS}"></a>
                                        </div>
                                        <div class="content-container">
                                            <div class="heading"><a href="#">Garden Wing Premier Balcony Suite</a></div>
                                            <p class="description">38 sqm / 409 sqf</p><a href="#" class="common-cta">VIEW MORE           </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Module Room landing - Suites Ends here-->
    *@
</div>
<!-- Module Room landing - Explore room by wings starts here-->
@if (Model.OtherRoomGroupListNavigatoins != null && Model.OtherRoomGroupListNavigatoins.Count > 0)
{
    <section class="section-row explore-by-wings-container">
        <div class="container carousel-container grid-small-container">
            <div class="section-header read-more-section-header">
                <h2 class="section-heading">Explore rooms in other wings</h2>
            </div>
            <div class="row">
                <div class="owl-carousel mobile-carousel">
                    @foreach (RoomGroupListingPageViewModel roomGroup in Model.OtherRoomGroupListNavigatoins)
                {
                        <div class="item">
                            <div class="col-xs-12 col-md-4 col-sm-4 no-gutter">
                                <div class="all-explore-rooms">
                                    <div class="image-container scaled-image">
                                        <a href="@Url.PageUrl(roomGroup.LinkURL)"><img src="@Url.ContentUrl(roomGroup.RoomHeaderBanner.Image)" alt="@roomGroup.RoomHeaderBanner.AlternateText"></a>
                                    </div>
                                    <div class="content-container shadow-box">
                                        <div class="heading"><a href="#">@Html.Raw(roomGroup.RoomHeaderBanner.Title)</a></div>
                                        <p class="description">@Html.Raw(roomGroup.RoomHeaderBanner.TeaserText)</p>
                                        <a href="@Url.PageUrl(roomGroup.LinkURL)" class="common-cta">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                    @*<div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-explore-rooms">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/room-landing-tower-wing.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container shadow-box">
                                        <div class="heading"><a href="#">Tower Wing</a></div>
                                        <p class="description">A contemporary retreat in the city</p><a href="#" class="common-cta">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-explore-rooms">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/room-landing-valley-wing.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container shadow-box">
                                        <div class="heading"><a href="#">Valley Wing</a></div>
                                        <p class="description">A prestigious sanctuary</p><a href="#" class="common-cta">LEARN MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                </div>
            </div>
        </div>
    </section>
}
<!-- Module Room landing - Explore room by wings Ends here-->

@{
    Html.RenderPartial("FindTheRoomPanel", new FindTheRoomPanelModel());
}



@*<!-- Room landing - Found the room starts here-->
    <section class="section-row room-landing-found-container">
        <div class="found-special-background">
            <div class="container">
                <div class="found-room-in shadow-box clearfix">
                    <div class="section-header">
                        <div class="section-heading">Haven't found the room you want?</div>
                        <p class="description">check out other hotles in singapore</p>
                    </div>
                    <div class="found-room-booking-panel">
                        <div class="check-status-block hidden-sm hidden-xs">
                            <div class="datepicker-container check-in col-md-6 no-gutter">
                                <div class="form-field">
                                    <div class="heading">Check-In</div>
                                    <div class="field-container">
                                        <div class="ui-textinput icon-calender">
                                            <input type="text" class="checkInSelectorRooms">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="datepicker-container check-out col-md-6 no-gutter">
                                <div class="form-field">
                                    <div class="heading">Check-Out</div>
                                    <div class="field-container">
                                        <div class="ui-textinput icon-calender">
                                            <input type="text" class="checkOutSelectorRooms">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bookingBoxRooms"></div>
                        </div>
                        <div class="button-container"><a href="javascript:void(0)" class="button-submit">GET THE BEST RATES</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room landing - Found the room Ends here-->*@