@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using ShangriLa.CMS.SL.Web.Business.Extensions;

@model ShangriLa.CMS.SL.Web.Models.ViewModels.PropertyPageViewModel<ShangriLa.CMS.SL.Web.Models.Pages.HotelPage>

@*<h1>
        @Html.PropertyFor(x => x.CurrentPage.PageName)
    </h1>
    <div class="row">
        <div class="span8 clearfix">
            @Html.PropertyFor(x => x.CurrentPage.MainBody)
        </div>
    </div>*@

@Html.PropertyFor(m => m.CurrentPage.HeroBanner)

@*<section id="main-banner" class="viewport-element main-banner-hotel-landing lighter-text">
        <div class="caption-container-hotel-landing">
           <h1 class="heading">@Html.PropertyFor(m => m.CurrentPage.HeroBanner.Title)</h1>
            <p class="description">@Html.PropertyFor(m => m.CurrentPage.HeroBanner.ShortDescription)</p>
            <div data-city="kowloon" data-lang="" class="climate-time-control">
                <span class="cloud"> </span><span class="temp"> </span><span class="time"> </span>
            </div>
        </div>
        <div class="image-container">
            @Html.PropertyFor(m => m.CurrentPage.HeroBanner.DesktopImage)
        </div>
        <a href="#overview" class="explore-button icon-ios-arrow-down"><span></span></a>
    </section>*@

@{
    Html.RenderPartial("BookingPanel", Model.BookingPanel);
}

<sections class="in-page-navigation sticked" data-height="38" style="top: 133px;">
    <div class="container">
        <div class="share-link"><a class="share-icon"><span>Share</span></a></div>
        <div class="selected-item"><span class="icon-ios-arrow-down">Overview</span></div>
        <ul class="horizontal-scroll">
            <li class=""><a href="#overview">Overview</a></li>
            <li class=""><a href="#rooms">Our rooms</a></li>
            <li class=""><a href="#dining">Dining</a></li>
            <li class=""><a href="#experience">Experience</a></li>
            <li class=""><a href="#events">Events</a></li>
            <li class="active"><a href="#gallery">Gallery</a></li>
            <li class=""><a href="#location">Location</a></li>
            <li class=""><a href="#offers">Offers</a></li>
        </ul>
    </div>
</sections>
<div class="inpage-container">

    @*@{
            Html.RenderCustomContentArea(Model.CurrentPage.SectionContentArea);
        }*@

    @Html.PropertyFor(x => x.CurrentPage.SectionContentArea, new
    {
        //CustomTag = "ul",
        //CssClass = "list",
        //ChildrenCustomTagName = "li",
        //ChildrenCssClass = "list_item",
        //Tag = string.Empty,
        HasContainer = false
    })
</div>

<div class="room-contact-details">
    <div class="container">
        <ul class="room-contact-container row">
            <li class="col-xs-12 col-sm-12 col-md-4">
                <div class="heading">Contact @Html.PropertyFor(m => m.Hotel.HotelName)</div>
                <p>
                    <strong>Address: </strong>@Html.PropertyFor(m => m.Hotel.Address)
                    <br><strong>Phone: </strong><span>@Html.PropertyFor(m => m.Hotel.Phone)</span>
                    <br><strong>Fax: </strong><span>@Html.PropertyFor(m => m.Hotel.Fax)</span>
                    <br><strong>Email: </strong><a href="mailto:@Html.PropertyFor(m => m.Hotel.Email);">@Html.PropertyFor(m => m.Hotel.Email)</a>
                </p>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4">
                <div class="heading accordion-header icon-accordian-plus">Check-In/Out</div>
                <div class="description">
                    <p>
                        Please note the check-in / out times below:
                        <br><strong>Check-in:</strong>@Html.PropertyFor(m => m.Hotel.CheckInTime)
                        <br><strong>Check-out: </strong>@Html.PropertyFor(m => m.Hotel.CheckOutTime)
                    </p>
                </div>
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4">
                <div class="heading accordion-header icon-accordian-plus">Payments</div>
                <div class="description">
                    <p>We accept the following payment methods:</p>
                    <div class="payment-methods">
                        <ul class="list-unstyled clearfix">

                            @*@Html.PropertyFor(m => m.Hotel.PaymentModes)*@

                            @if (Model.Hotel.PaymentModeList != null)
                            {

                                string img = "";
                                int width = 0;
                                int height = 0;

                                foreach (string cc in Model.Hotel.PaymentModeList)
                                {
                                    switch (cc)
                                    {
                                        case "AX":
                                            img = "amex-logo";
                                            width = 24;
                                            height = 24;

                                            break;

                                        case "DC":
                                            img = "diners-club-logo";
                                            width = 30;
                                            height = 22;

                                            break;

                                        case "JC":
                                            img = "jcb-logo";
                                            width = 28;
                                            height = 22;

                                            break;

                                        case "MC":
                                            img = "mastercard-logo";
                                            width = 33;
                                            height = 20;

                                            break;

                                        case "VA":
                                            img = "visa-logo";
                                            width = 39;
                                            height = 14;

                                            break;

                                            /*
                                        case "AP":
                                            img = "amex-logo";
                                            width = 24;
                                            height = 24;

                                            break;
                                            */
                                        case "UP":
                                            img = "union-pay-logo";
                                            width = 33;
                                            height = 21;

                                            break;
                                            /*
                                        case "TP":
                                            img = "amex-logo";
                                            width = 24;
                                            height = 24;

                                            break;
                                            */
                                    }

                                    <li><img width="@width" height="@height" src="@Url.Content("~/Content/img/content/" + img + ".png")" alt="@cc" class="retina-image"></li>

                                }




                            @*<li><img width="24" height="24" src="@Url.Content("~/Content/img/content/amex-logo.png")" alt="{CMS}" class="retina-image"></li>
                            <li><img width="30" height="22" src="@Url.Content("~/Content/img/content/diners-club-logo.png")" alt="{CMS}" class="retina-image"></li>
                            <li><img width="28" height="22" src="@Url.Content("~/Content/img/content/jcb-logo.png")" alt="{CMS}" class="retina-image"></li>
                            <li><img width="33" height="20" src="@Url.Content("~/Content/img/content/mastercard-logo.png")" alt="{CMS}" class="retina-image"></li>
                            <li><img width="39" height="14" src="@Url.Content("~/Content/img/content/visa-logo.png")" alt="{CMS}" class="retina-image"></li>
                            <li><img width="33" height="21" src="@Url.Content("~/Content/img/content/union-pay-logo.png")" alt="{CMS}" class="retina-image"></li>*@
                            }
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
