@using EPiServer.Core;
@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.RoomDetailPageViewModel

<div class="item">
    <div class="col-md-12 no-gutter">
        <div class="half-panel-block">
            <div class="image-container scaled-image">
                <a href="@Url.PageUrl(Model.LinkURL)"> <img src="@Url.ContentUrl(Model.RoomHeaderBanner.Image)" alt="{CMS}"></a>
            </div>
            <div class="caption-container shadow-box mobile-equal-height-block">
                <div class="featured">Featured</div>
                <h3 class="heading"> <a href="@Url.PageUrl(Model.LinkURL)">@Model.RoomSuiteBlock.RoomName</a></h3>
                <p class="description">@Model.RoomHeaderBanner.Introduction</p>
                <div class="room-price">
                    <p>From <span class="price">HKD2,800 </span>Per night</p>
                </div>
                <div class="button-aligner"><a href="@Url.ContentUrl(Model.LinkURL)" class="button-primary">Book Now</a></div>
            </div>
        </div>
    </div>
</div>