@using Shangri_La.EpiServer.SL.Web.Models.ViewModels;

@model Shangri_La.EpiServer.SL.Web.Models.ViewModels.RoomListing.SuiteListViewModel

@{
    bool showMoreRooms = false;
    int maxRoomNum = 4;

    string showMoreCTAText = "VIEW MORE SUITES";

    if (Model.AllRooms != null && Model.AllRooms.Count > maxRoomNum)
    {
        int numMore = (Model.AllRooms.Count - maxRoomNum);

        showMoreCTAText = string.Format("VIEW {0} MORE SUITES", numMore);
        showMoreRooms = true;
    }
}

@if (Model.AllRooms != null && Model.AllRooms.Count() > 0)
{
<!-- Module Room landing - Suites starts here-->
<section id="@Model.RoomType" class="section-row room-landing-suites-container">
    <div class="suites-special-background">
        <div class="container">
            <div class="section-header read-more-section-header">
                <h2 class="section-heading">@Html.PropertyFor(m => m.Heading)</h2>
                <p class="description">@Html.PropertyFor(m => m.IntroText)</p>
                <a href="javascript:void(0)" class="read-more-droplink icon-ios-arrow-down">READ MORE</a>
            </div>
            <div class="row">
                <div class="clearfix col-xs-12 col-md-12">
                    <div class="suites-special-container clearfix hidden-xs">
                        <div class="image-container scaled-image"><img src="@Url.ContentUrl(Model.Image)?width=853&height=427&mode=crop&scale=canvas" alt="@Model.AlternateText"></div>
                        <div class="content-container shadow-box">
                            <div class="inner-content">
                                <div class="heading">@Html.PropertyFor(m => m.MainText)</div>

                                @if (Model.BlockCTA != null)
                                {
                                    <span>@Html.PropertyFor(m => m.BlockCTA.ButtonText)</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container carousel-container">
        <div class="grid-medium-container">
            <div class="row list-view-row">
                <div class="owl-carousel mobile-carousel">



                    @if (Model.AllRooms != null)
                    {
                        int count = 0;

                        foreach (RoomDetailPageViewModel room in Model.AllRooms)
                        {
                            count++;

                            string css = "item";


                            if (count > maxRoomNum)
                            {
                                css = "item extra-item hidden-extra";
                            }

                            <div class="@css">
                                <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                    <div class="all-suites-rooms row-list-item">
                                        <div class="image-container scaled-image">
                                            <a href="@Url.PageUrl(room.LinkURL)"><img src="@Url.ContentUrl(room.RoomHeaderBanner.Image)?width=465&height=233&mode=crop&scale=canvas" alt="@room.RoomHeaderBanner.AlternateText"></a>
                                        </div>
                                        <div class="content-container mobile-equal-height-block">
                                            @if (room.RoomSuiteBlock.IsFeatured)
                                            {
                                                <div class="featured">Featured</div>
                                            }
                                            <div class="heading"><a href="@Url.PageUrl(room.LinkURL)">@room.RoomSuiteBlock.RoomName</a></div>
                                            <div class="persons">
                                                @for (int i = 0; i < room.RoomSuiteBlock.MaxOccupancy; i++)
                                                {
                                                    <i class="icon-person-01"></i>
                                                }

                                                @*<i class="icon-person-01"></i>
                                                    <i class="icon-person-01"></i>
                                                    <i class="icon-person-01"></i>
                                                *@
                                            </div>
                                            <p class="description">@room.RoomSuiteBlock.RoomSize</p>
                                            <p class="view-of-room">@room.RoomSuiteBlock.RoomView</p>
                                            <a href="@Url.PageUrl(room.LinkURL)" class="common-cta">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }




                    @*<div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-1.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="featured">Featured</div>
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-2.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-3.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="featured">Featured</div>
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-4.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item extra-item hidden-extra">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-3.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="featured">Featured</div>
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item extra-item hidden-extra">
                            <div class="col-xs-12 col-md-6 col-sm-6 no-gutter">
                                <div class="all-suites-rooms row-list-item">
                                    <div class="image-container scaled-image">
                                        <a href="#"><img src="@Url.Content("~/Content/img/content/suites-4.jpg")" alt="{CMS}"></a>
                                    </div>
                                    <div class="content-container mobile-equal-height-block">
                                        <div class="heading"><a href="#">Tower Wing Deluxe Room</a></div>
                                        <div class="persons">
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                            <i class="icon-person-01"></i>
                                        </div>
                                        <p class="description">38 sqm / 409 sqf</p>
                                        <p class="view-of-room">City view on spacious comfort</p><a href="#" class="common-cta">VIEW MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>

            @if (showMoreRooms)
            {

                <div class="view-all-button hidden-xs view-more-items"><a href="#" data-view-less-text="View Less" class="button-secondary">@showMoreCTAText</a></div>
            }
        </div>
    </div>
</section>
<!-- Module Room landing - Suites Ends here-->
}
