@*@model IPageViewModel<SitePageData>*@

<!--Mosaic banner carousel starts here-->
<section class="mosaic-banner-carousel">
    <div class="owl-carousel mixed-carousel">
        <div class="item">
            <div class="carousel-left-section">
                <a href="//players.brightcove.net/4554542031001/default_default/index.html?videoId=4898716212001" class="video-link icon-play-circle"></a><img src="@Url.Content("~/Content/img/content/left-side-carousel.jpg")" alt="{CMS}">
            </div>
            <div class="carousel-right-section">
                <div class="carousel-top"><img src="@Url.Content("~/Content/img/content/right-side-top.jpg")" alt="{CMS}"></div>
                <div class="carousel-bottom clearfix">
                    <div class="carousel-caption">
                        <div class="in-caption">
                            <div class="heading">Handcrafted marble bathroom, styled with italian opulence</div>
                            <p class="pagination"> </p>
                        </div>
                    </div>
                    <div class="carousel-right-last"><img src="@Url.Content("~/Content/img/content/right-side-bottom.jpg")" alt="{CMS}"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-left-section"><img src="@Url.Content("~/Content/img/content/left-side-carousel.jpg")" alt="{CMS}"></div>
            <div class="carousel-right-section">
                <div class="carousel-top"><img src="@Url.Content("~/Content/img/content/right-side-top.jpg")" alt="{CMS}"></div>
                <div class="carousel-bottom">
                    <div class="carousel-caption">
                        <div class="in-caption">
                            <div class="heading">Handcrafted marble bathroom, styled with italian opulence</div>
                            <p class="pagination"> </p>
                        </div>
                    </div>
                    <div class="carousel-right-last"><img src="@Url.Content("~/Content/img/content/right-side-bottom.jpg")" alt="{CMS}"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-left-section"> <img src="@Url.Content("~/Content/img/content/carousel-left-image.jpg")" alt="{CMS}"></div>
            <div class="carousel-right-section">
                <div class="carousel-caption-fullpanel">
                    <div class="content-block">
                        <div class="heading">Space, sunlight and marvellous marble. Our bathrooms let you soak it all in</div>
                        <p class="description">Get clean, calm and comfortable in our handcrafted Italian marble bathrooms, complete with deep soaking tub, walk-in shower and a sumptuous selection of soothing beauty products.</p>
                        <p class="pagination"> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="carousel-left-section">
                <a href="//players.brightcove.net/4554542031001/default_default/index.html?videoId=4898716212001" class="video-link icon-play-circle"></a><img src="@Url.Content("~/Content/img/content/carousel-left-image.jpg")" alt="{CMS}">
            </div>
            <div class="carousel-right-section">
                <div class="carousel-caption-fullpanel">
                    <div class="content-block">
                        <div class="heading">Space, sunlight and marvellous marble. Our bathrooms let you soak it all in</div>
                        <p class="description">Get clean, calm and comfortable in our handcrafted Italian marble bathrooms, complete with deep soaking tub, walk-in shower and a sumptuous selection of soothing beauty products.</p>
                        <p class="pagination"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Mosaic banner carousel ends here-->
