@using EPiServer.Core;
@model Shangri_La.EpiServer.SL.Web.Models.Blocks.SectionHightlightContentBlock

<section class="section-row horizon-club">
    <div class="container">
        <div class="horizon-container equal-height-section">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-xs no-gutter">
                    <div class="image-container equal-height-block"><img src="@Url.ContentUrl(Model.Image)?width=465&height=310&mode=crop&scale=canvas" alt="{CMS}"></div>
                </div>
                <div class="col-xs-12 col-sm-6 no-gutter">
                    <div class="content-container shadow-box equal-height-block">
                        <div class="content-inner">
                            <div class="heading">@Html.PropertyFor(m => m.Heading)</div>
                            <p class="description">@Html.PropertyFor(m => m.IntroText)</p>
                            <a href="@Model.BlockCTA.ButtonLink" class="common-cta">@Model.BlockCTA.ButtonText</a>
                            <div class="book-now-button"><a href="@Model.BlockButtonLink.ButtonLink" class="button-primary">@Model.BlockButtonLink.ButtonText</a></div>
                            @*<div class="heading">What could make your stay even better? Upgrade to Horizon Club and find out</div>
                            <p class="description">Dive deeper into Shangri-La's unique brand of hospitality, with our personalised Horizon Club privileges and benefits.</p><a href="#" class="common-cta">VIEW MORE DETAILS</a>
                            <div class="book-now-button"><a href="#" class="button-primary">Book Now</a></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>